attrdict==2.0.1
bitsandbytes==0.43.3
datasets==2.20.0
deepspeed==0.14.4
editdistance==0.8.1
einops==0.8.0
fastapi==0.112.2
fire==0.6.0
flash_attn==2.5.8
gradio==4.42.0
huggingface_hub==0.24.0
latex2sympy2==1.9.1
lmdeploy==0.5.3
loguru==0.7.2
matplotlib==3.9.2
numpy==1.19.5
openai==1.42.0
packaging==24.1
pandas==2.2.2
peft==0.12.0
Pillow==10.4.0
pycocoevalcap==1.2
python_Levenshtein==0.25.1
ray==2.34.0
regex==2024.5.15
Requests==2.32.3
sglang==0.2.14
shortuuid==1.0.13
sympy==1.12.1
timm==1.0.9
tokenizers==0.20.0
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.4
transformers==4.42.0
uvicorn==0.30.6
xformers==0.0.27.post2
